.top-box {


  &__img {
    width: 54%;
    margin-left: 46%;
  }
}

.about-me {
  margin: 3vh;
  line-height: 25px;
  letter-spacing: 5.54px;
  font-family: 'Hiragino Sans';
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}
